<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bienvenido a Frikr - Como Flickr, pero en friki</title>
</head>
<body>
    {% include 'photos/menu.html' %}
    <h1>Bienvenido a Frikr</h1>
    <p>Frikr es como Flickr, pero en friki.</p>
    {% if photo_list|length > 0 %}
        <h2>Últimas fotos publicadas</h2>
        {% for photo in photo_list %}
            <a href="{% url 'photo_detail' photo.pk %}">
                <img src="{{ photo.url }}" alt="{{ photo.description }}" title="{{ photo.name }}" height="140" />
            </a>
        {% endfor %}
    {% endif %}
</body>
</html>